.menu--container {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.menu--container-show {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.LabelChangeTheme {
  width: 2rem;
  height: 2rem;
  background: url("../../assets/icons/moon.png") center/cover no-repeat;
  display: block;
  cursor: pointer;
}

.ChangeTheme:checked ~ .LabelChangeTheme {
  background: url("../../assets/icons/sun.png") center/cover no-repeat;
}
